<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns = "http//www.w3.org/ns/widdetgs"
        xmlms:gap = "http://phonegap.com/ns/1.0"
        id = "com.phonegap.example"
        versionCode = "10"
        version = "1.0.0"

        <name> Estacionamiento CUCEI </name>
        
        <description>
            Programa para administrar el estacionamiento de la universidad.
        </description>

        <author href="tupaginaweb.com" email="tuemail@com">
            web
        </author>
</widget>